app:
  scheduler:
    enable: true
    interval: 1000
    force-check-delay: 10000
  link-updater:
    batch-size: 10

clients:
  github:
    host: https://api.github.com
  stack:
    host: https://api.stackexchange.com/2.3
  bot:
    host: http://localhost:8090

spring:
  application:
    name: scrapper
  liquibase:
    enabled: false
  datasource:
    url: jdbc:postgresql://localhost:5432/scrapper
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

springdoc:
  swagger-ui:
    path: /swagger-ui

server:
  port: 8080

logging:
  config: classpath:log4j2-plain.xml
